:root {
    --main: #86A4B4 !important;
    --main-light: #86A4B4 !important;
    --dark: #3A4A52 !important;
    --dark-light: #86A4B4 !important;
    --white: #F7F7F7 !important;
    --grey: #3A4A52 !important;
}