:root {
    --main: #86A4B4 !important;
    --main-light: #C9D5DC !important;
    --dark: #3A4A52 !important;
    --dark-light: #717D82 !important;
    --white: #F7F7F7 !important;
    --grey: #3A4A52 !important;
}