html{
    background-color: var(--white);
    background-color: #F7F7F7;
}

:root {
    background-color: var(--white);
    background-color: #F7F7F7;
    color: var(--dark);
    color: #3A4A52;
}

nav.navbar {
    background-color: var(--white);
    background-color: #F7F7F7;
}


 .footer {
    color: var(--main);
 }


/* Text Colors */

h1, h2, h3, h4, h5, h6 {
    color: #86A4B4 !important;
}
body {
    color: var(--dark);
}
::selection {
    color: var(--dark);
}
a {
    color: var(--main);
}
a:hover, a.active {
    color: var(--main);
 }

 /* Slider styles */
 .slider {
    background-color: rgba(247, 247, 247, .95);
 }

 /* Landing page styles */
 .button.is-white.is-outlined {
    border-color: var(--main);
    color: var(--main);
 }

 

 /* Text Styles */
h1 {
    font-size: 6.25rem !important;
    font-weight: 200 !important;
    margin-block-end: .1em !important;
    line-height: 1 !important;
}
 .subtitle {
    color: var(--main);
    font-size: 1.5rem !important;
    font-weight: 200 !important;
 }
 h2 {
    font-size: 3rem !important;
    font-weight: 600 !important;
    margin-block-end: .1em !important;
 }
 h3 {
    font-size: 2rem !important;
    font-weight: 200 !important;
    margin-block-start: .2em !important;
    margin-block-end: .2em !important;
 }
 h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
    margin-block-start: .2em !important;
    margin-block-end: .2em !important;
 }
 .small-text {
    font-size: small;
 }
 


 /* Slide Styles */
 .slide img {
    max-height: none;
 }

 /* Button Styles */
.button {
    border-radius: 46px;
    border: 0px solid #ffffff !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .08) !important;
    font-size: 24px;
    margin-bottom: .5em;
}
.button:hover, .button:active {
    background-color: var(--main);
    color: var(--white) !important;
}
.button a:active, .button a:hover, .button:hover a {
    border-bottom: 0px solid #ffffff !important;
    color: var(--white) !important;
}


/* Scroll Box Styles */

.scroll-box {
    max-height: 60vh;
    overflow: scroll;
    margin-bottom: 3vh;
    margin-right: 5vw;
    margin-left: 5vw;
    width: fit-content !important;
}

/* Header Styles */
.logo {
    width: 75px !important;
    height: 44px !important;
    margin: auto;
}
.menu {
    margin: auto;
    text-align: center;
}

/* Footer Styles */
.footer {
    background-color: var(--white);
}



/* Mobile Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 3.5rem !important;
    }
    h2 {
        font-size: 2rem !important;
        
    }
    .scroll-box {
        margin-right: 10vw;
        margin-left: 10vw;
        max-height: 55vw;
    }
    .button {
        font-size: 18px;
    }
}


/* Remove fullheight */
.fullheight {
    min-height: auto !important;
    margin-top: 5vh;
}
.slide-meta-el {
    padding: 0px;
    margin: 0px;
    height: auto;
}
.slide-info {
    margin-top: 0px;
    width: 1100px;
    max-width: 80vw;
    font-size: large;
    background-color: #F7F7F7 !important;
    padding: 40px;
    border-radius: 10px;
    /*box-shadow: 2px 5px 8px #86a4b42d !important;*/
} 
